<div>
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
          <div class="overlay"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                  <h1>My Page</h1>
                  <span class="subheading">MyPage..</span>
                </div>
              </div>
            </div>
          </div>
        </header>
        
        
        <div id="wrapper" class="toggled">
    
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                        <app-sidebar></app-sidebar>
                </div>
                <!-- /#sidebar-wrapper -->
        
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                            <h4>
                                    MyPage.
                            </h4>            
                    </div>
                </div>
        
            </div>
    
    </div>
            