li a{
    &.active{
      color: black !important;
    }
  }
  
  .notification{
    
      background-color: #FB404B;
      text-align: center;
      border-radius: 10px;
      min-width: 18px;
      padding: 0 5px;
      height: 18px;
      font-size: 12px;
      color: #FFFFFF;
      font-weight: bold;
      line-height: 18px;
      top: 0px;
      left: 7px;
  }