
<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-lg-2">

    </div>
    <!-- Post Content Column -->
    
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{ match.title }}</h1>
      <!-- Author -->
      <div class="lead">
          <div style="text-align: left">작성자 :
        <div class="btn-group">
            <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
              <a href id="basic-link" dropdownToggle (click)="false"
                aria-controls="basic-link-dropdown">{{ match.writer }}</a> <label style="font-size: 10px; color: #495057;" >    유저를 클릭시 유저와 채팅을 할 수 있습니다. </label>
              <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="basic-link">
                  <li>
                    <a class="dropdown-item" name="" *ngIf="auth.loggedIn" (click)="goChat()">채팅하기</a>
                    <a class="dropdown-item" name="" *ngIf="!auth.loggedIn" routerLink="/login">채팅하기</a>
                  </li>
              </ul>
            </span>
          </div>
        </div>
          <div style="text-align: right;">
              작성일 : {{ match.created_at | date:'MM-dd hh:mm:ss' }}
            </div>
    </div>


      <!-- Preview Image -->
      <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->

      <hr>

      <!-- Post Content -->
      <p style="height: 350px; overflow-y: scroll;">
        {{ match.contents }}
      </p>
    <!-- <p>
        <a routerLink='/contest/{{match.contest_id}}'>공모전 자세히 보기</a>
      </p> -->
      <hr>
      <div class="row">
          <div class="col-md-3">
            <button mat-raised-button class="btn btn-info btn-fill btn-wd" routerLink='/contest/{{match.contest_id}}'>이 공모전 자세히 보기</button>
          </div>
          <div class="col-md-3  offset-md-6">
            <div class="row">
              <button mat-raised-button class="btn btn-info btn-fill btn-wd" *ngIf=" auth.loggedIn && !match.matchstate" (click)="matchRequest()">매칭요청</button>
              <button mat-raised-button class="btn btn-info btn-fill btn-wd" *ngIf="match.writer == auth.currentUser.username" (click)="matchComplete()">매칭선택</button>
  
            </div>
          </div>
        </div>
      <hr>



      <div class="media mb-4" *ngFor="let comment of match.comments; let i = index">
          <div class="row">
            <div>
              <h3>
                <i class="material-icons">
                  sms
                </i> {{comment.writer}}:
                <small> {{comment.created_at}}</small>
              </h3>
  
            </div>
            <div class="w-100"></div>
  
            <div>
              <p>{{comment.contents}}</p>
            </div>
          </div>
        </div>
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form [formGroup]="registerForm">
            <div class="form-group">
              <textarea class="form-control" rows="3" name="contents" formControlName="contents"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
          </form>
        </div>
      </div>




      

  

      <!-- Single Comment -->
      <!-- <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div> -->

      <!-- Comment with nested comments -->
      <!-- <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

        </div>
      </div> -->

    

    
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->