<div class="container-fluid container-top">
    <div class="row">
        <div class="col-lg-6 col-md-6 title_center">
            <div class="row">
                <div class="title_center">
                    <h1 class="my-4 text-center">가입을 축하합니다.</h1>
                </div>
                <div class="w-100"></div>
                <div class="col-lg-7 col-md-8 title_center">
                    <h1 class="my-4">
                        <small class="title_center text-center">정보를 입력해 자신에게 맞는 것을 추천받으세요.</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6  center-block">

            <app-profile></app-profile>
        </div>
    </div>
</div>