<div class="modal-header">
  <h5 class="modal-title text-center">{{ title }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()" >
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body"> 
<p class="category">내용</p>{{ contents }}
</div>
<div class="modal-footer">
  <div class="left-side">
      <button type="button" (click)="MoveMatching()" routerLink="/match" class="btn btn-default btn-link" >매칭글 이동</button>
  </div>
  <div class="divider"></div>
  <div class="right-side">
      <button type="button" class="btn btn-danger btn-link" (click)="bsModalRef.hide()" >DELETE</button>
  </div>
</div>