

.categorytable{
    margin: 5px;
    border: 1px solid grey;
}

.aColor:hover{
    color: blue;
    cursor: pointer;
}

a{
    color: black;
}

a:hover{
    color: grey;
}
.card-img-top{
    height: 385.98px !important;
}

.button-width{
    background: #c4c1c1;
    width: 100%;
    color: black;
    margin: auto;
}

._blank{
    height: 92px;
}
.onmouse>a:hover{
    font-weight: bold;
}
.onmouse:hover{
    cursor: pointer;
    background: #69f0bc;
}