<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>공모야</h1>
          <span class="subheading">사용자에게 적합한 공모전 추천 및 팀원 매칭 웹/앱 어플리케이션
            </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->

<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-settings m-auto text-primary"></i>
            </div>
            <h3>Matching System</h3>
            <p class="lead mb-0">Matching System will be access to easy to the contest.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-eye m-auto text-primary"></i>
            </div>
            <h3>Recommend System</h3>
            <p class="lead mb-0">
              It's easier to find the right people with the recommendation system.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-bulb m-auto text-primary"></i>
            </div>
            <h3>Easy to Approach to Contest</h3>
            <p class="lead mb-0">
              You can easily find various competitions.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


<hr>