
<div class="container" style="max-width: 100% !important;">
  <div class="col-md-8" style="max-width:100%; height:auto; background: #000000; padding: 0;">
    <a routerLink='/{{link}}'>
    <img class="carousel-img" src="../../assets/img/{{background_img}}">
    <div class="carousel-caption d-none d-md-block">
      <h1>
        <b>{{ title }}</b>
      </h1>
      <p>
        <b>{{ subtitle }}</b>
      </p>
    </div>
    </a>
  </div>
  <div class="row justify-content-md-center" style="text-align: center; padding-bottom:15px; padding-top:15px; border-bottom:1px grey solid;">
    <div class="col-md-3 myslide" (mouseenter)="mouseEnter('wood-3182655_1920.jpg', 0)" style="border-right: 1px black solid;">
      <a class="myslide" routerLink="/contest">
        공모전 검색
      </a>
    </div>
    <div class="col-md-3 myslide" (mouseenter)="mouseEnter('education-3318158_1920.jpg', 1)" style="border-right: 1px black solid;">
      <a class="myslide" routerLink="/match">
        매칭 시스템
      </a>
    </div>
    <div class="col-md-3 myslide" (mouseenter)="mouseEnter('desktop-2325627_1920.jpg', 2)">
      <a class="myslide" routerLink="/recommend">
        공모전 추천
      </a>
    </div>
  </div>
</div>

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-settings m-auto text-primary"></i>
          </div>
          <h3>Matching System</h3>
          <p class="lead mb-0">Matching System will be access to easy to the contest.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-eye m-auto text-primary"></i>
          </div>
          <h3>Recommend System</h3>
          <p class="lead mb-0">
            It's easier to find the right people with the recommendation system.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-bulb m-auto text-primary"></i>
          </div>
          <h3>Easy to Approach to Contest</h3>
          <p class="lead mb-0">
            You can easily find various competitions.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<hr>

<div class="typography-line">
  <h3>
    <span class="note" style="padding-left: 100px;">최근 등록된 인기 공모전</span>
  </h3>
  <blockquote class="blockquote">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-xs-12  col-sm-6 col-md-2" *ngFor="let contest of contests" >
          <img *ngIf="contest.url_img != ''" routerLink='/contest/{{contest._id}}' style="height: 273px;" src="../../../{{contest.url_img}}" class="img-thumbnail img-responsive" alt="Rounded Image">
          <img *ngIf="contest.url_img == ''" routerLink='/contest/{{contest._id}}' style="height: 273px;" src="https://{{contest.url_img2}}" class="img-thumbnail img-responsive" alt="Rounded Image">
          <div class="panel-footer" routerLink='/contest/{{contest._id}}' style="width: 210px; height: 52px;  overflow: hidden;  text-overflow: ellipsis; " >
              <small >
                  {{contest.title}}
              </small>
            </div>
        </div>
      <div class="col-md-1"></div>
    </div>
  </blockquote>
</div>

<hr>

<div class="typography-line">
  <h3>
    <span class="note" style="padding-left: 100px;">TITLE ONE</span>
  </h3>
  <blockquote class="blockquote">
    <p class="mb-0">TITLE TWO</p>
    <footer class="blockquote-footer">SUB TITLE</footer>
    <div class="row">
      <div class="col-xs-12  col-sm-6 col-md-3">
        <h4 class="images-title">1</h4>
        <img src="../../assets/img/1.jpg" style="height: 273px;" class="img-thumbnail img-responsive" alt="Rounded Image">
        <div class="panel-footer">
          <small>
            SMALL TITLE
          </small>
        </div>
      </div>
      <div class="col-xs-12  col-sm-6 col-md-3">
        <h4 class="images-title">2</h4>
        <img src="../../assets/img/2.jpg" style="height: 273px;" class="img-thumbnail img-responsive" alt="Rounded Image">
        <div class="panel-footer">
          <small>
            SMALL TITLE
          </small>
        </div>
      </div>
      <div class="col-xs-12  col-sm-6 col-md-3">
        <h4 class="images-title">3</h4>
        <img src="../../assets/img/3.jpg" style="height: 273px;" class="img-thumbnail img-responsive" alt="Rounded Image">
        <div class="panel-footer">
          <small>
            SMALL TITLE
          </small>
        </div>
      </div>
      <div class="col-xs-12  col-sm-6 col-md-3">
        <h4 class="images-title">4</h4>
        <img src="../../assets/img/4.jpg" style="height: 273px;" class="img-thumbnail img-responsive" alt="Rounded Image">
        <div class="panel-footer">
          <small>
            SMALL TITLE
          </small>
        </div>
      </div>
    </div>
  </blockquote>
</div>

<div class="typography-line">
  <blockquote class="blockquote">
    <div class="row">
      <div class="col-xs-12  col-sm-12 col-md-6">

        <h4 class="images-title" style="text-align: left; height: 25px;">둘중하나 아무거나
          <button mat-button matSuffix class="pull-right" routerLink="/posts">더보기
            <mat-icon mat-list-icon>add</mat-icon>
          </button>
        </h4>


        <img src="../../assets/img/about-bg.jpg" style="height: 273px; width: 100%;" class="img-thumbnail img-responsive" alt="Rounded Image">
        <div class="panel-footer">
          <p class="mb-0">Sub TITLE</p>
          <footer class="blockquote-footer">COMMENT</footer>
        </div>
      </div>
      <div class="col-xs-12  col-sm-12 col-md-6">
        <h4 class="images-title">둘중하나 아무거나</h4>
        <img src="../../assets/img/contact-bg.jpg" style="height: 273px; width: 100%;" class="img-thumbnail img-responsive" alt="Rounded Image">
        <div class="panel-footer">
          <p class="mb-0">Sub TITLE</p>
          <footer class="blockquote-footer">COMMENT</footer>
        </div>
      </div>
    </div>
  </blockquote>
</div>

<hr>

<!-- <div class="container">
  <div class="row chat-window col-xs-3 col-md-4" id="chat_window_1" style="margin-left:10px;">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading top-bar row" style="margin: 0px !important;">
          <div class="col-md-8 col-xs-8" style="padding-right: 0px !important;">
              
            <h3 class="panel-title">
                <i class="material-icons" style="float: left; padding-right: 7px;">
                    chat
                </i>
                Kwon
            </h3>
          </div>
          <div class="col-md-4 col-xs-4" style="text-align: right;">
            <a href="#">
              <i id="minim_chat_window" class="material-icons icon_minim">
                  minimize
                </i>
            </a>
            <a href="#">
              <span class="glyphicon glyphicon-remove icon_close" ></span>
              <i data-id="chat_window_1" class="material-icons icon_close" style="color: black;">
                  close
                </i>
            </a>
          </div>
        </div>
        <div class="panel-body msg_container_base">
          <div class="row msg_container base_sent">
            <div class="col-md-10 col-xs-10">
              <div class="messages msg_sent">
                <p>that mongodb thing looks good, huh? tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
            </div>
          </div>
          <div class="row msg_container base_receive">
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
            </div>
            <div class="col-md-10 col-xs-10">
              <div class="messages msg_receive">
                <p>that mongodb thing looks good, huh? tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
          </div>
          <div class="row msg_container base_receive">
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
            </div>
            <div class="col-xs-10 col-md-10">
              <div class="messages msg_receive">
                <p>that mongodb thing looks good, huh? tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
          </div>
          <div class="row msg_container base_sent">
            <div class="col-xs-10 col-md-10">
              <div class="messages msg_sent">
                <p>that mongodb thing looks good, huh? tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
            </div>
          </div>
          <div class="row msg_container base_receive">
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
            </div>
            <div class="col-xs-10 col-md-10">
              <div class="messages msg_receive">
                <p>that mongodb thing looks good, huh? tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
          </div>
          <div class="row msg_container base_sent">
            <div class="col-md-10 col-xs-10 ">
              <div class="messages msg_sent">
                <p>that mongodb thing looks good, huh? tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group dropup">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="material-icons">
        add
      </i>
      <i class="material-icons">
        keyboard_arrow_up
      </i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="#" id="new_chat">
          <span class="glyphicon glyphicon-plus"></span> Novo</a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-list"></span> Ver outras</a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-eye-close"></span> Invisivel</a>
      </li>
    </ul>
  </div>
</div> -->