<app-toast [message]="toast.message">

</app-toast>
<mat-card class="col-md-6 card-center" style="margin-bottom: 120px; margin-top:50px;">
  <div class="header">
    <h4 class="title dark-grey" style="text-align:center;">매칭글 작성</h4>
  </div>
  <mat-card-content>
    <form [formGroup]="registerForm">
      <mat-form-field>
        <input matInput name="title" formControlName="title" placeholder="Title" autofocus>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput name="contents" formControlName="contents" placeholder="내용" rows="10" cols="80"></textarea>
      </mat-form-field>

      <mat-form-field hidden>
        <input matInput name="writer" formControlName="writer" placeholder="Writer" [(value)]="auth.currentUser.username">
      </mat-form-field>
      <mat-form-field hidden>
        <input matInput name="contest_id" formControlName="contest_id" placeholder="Writer" [(ngModel)]="temp_id">
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="tags" placeholder="Select Category">
          <mat-option *ngFor="let category of categorys" [(value)]="category.value">{{ category.value }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" name="search_title" formControlName="search_title" placeholder=" Input Keywords" (keyup.enter)="searchEnter()" (keyup)="searchEnter()"
        />
        <button mat-button matSuffix mat-icon-button (click)="searchEnter()" (keyup)="searchEnter()">
          <i class="material-icons">search</i>
        </button>
      </mat-form-field>

      <mat-list *ngIf="!isSearching">
        <mat-list-item *ngFor="let contest of contests" class="mat-list-item" (click)="titleClick(contest._id, contest.title)">
          <i class="material-icons">
            add_circle_outline
          </i>{{ contest.title }} </mat-list-item>
      </mat-list>

      <mat-form-field>
        <input matInput type="text" placeholder="" disabled [(value)]="contest_title">
      </mat-form-field>


      <button mat-raised-button color="primary" type="submit" (click)="register()" [disabled]="!registerForm.valid">Register</button>
    </form>
  </mat-card-content>
</mat-card>