<div>
        
        <mat-tab-group>
                <mat-tab label="내가 쓴 글">
                        <div class="container-fluid">
                                <h1 class="my-4">내가 쓴 글

                                </h1>
                                <div class="container">
                                        <table class="table table-stripted">
                                                <thead>
                                                        <tr>
                                                                <th [class.active]="order === 'tags'" (click)="setOrder('tags')" class="mdl-data-table__cell--non-numeric">
                                                                        태그
                                                                        <span [hidden]="reverse">▼</span>
                                                                        <span [hidden]="!reverse">▲</span>
                                                                </th>
                                                                <th [class.active]="order === 'title'" (click)="setOrder('title')" class="mdl-data-table__cell--non-numeric">
                                                                        제목
                                                                        <span [hidden]="reverse">▼</span>
                                                                        <span [hidden]="!reverse">▲</span>
                                                                </th>
                                                                <th [class.active]="order === 'writer'" (click)="setOrder('writer')">
                                                                        작성자
                                                                        <span [hidden]="reverse">▼</span>
                                                                        <span [hidden]="!reverse">▲</span>
                                                                </th>
                                                                <th [class.active]="order === 'created_at'" (click)="setOrder('created_at')">
                                                                        날짜
                                                                        <span [hidden]="reverse">▼</span>
                                                                        <span [hidden]="!reverse">▲</span>
                                                                </th>
                                                                <th [class.active]="order === 'hits'" (click)="setOrder('hits')">
                                                                        조회수
                                                                        <span [hidden]="reverse">▼</span>
                                                                        <span [hidden]="!reverse">▲</span>
                                                                </th>

                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <tr *ngFor="let match of matchs | orderBy: order : reverse : 'case-insensitive' | paginate: {itemsPerPage: 10, currentPage: p}; let i = index">
                                                                <td>{{ match.tags }}</td>
                                                                <td>
                                                                        <a routerLink='/match/{{match._id}}'>
                                                                                <span *ngIf="match.matchstate" class="label label-success">매칭완료</span>
                                                                                <span *ngIf="!match.matchstate" class="label label-warning">매칭중</span>{{ match.title }}</a>
                                                                </td>
                                                                <td>{{ match.writer }}</td>
                                                                <td>{{ match.created_at | date:'MM-dd' }}</td>
                                                                <td>{{ match.hits }}</td>
                                                        </tr>
                                                </tbody>
                                        </table>



                                        <hr>

                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>


                                </div>
                        </div>
                </mat-tab>
                <mat-tab label="내가 쓴 댓글">
                        <div class="container-fluid">
                                <h1 class="my-4">내가 쓴 댓글

                                </h1>
                                <div class="container">
                                        <div style="border: 1px solid #dee2e6">
                                                <h3>
                                                        <i class="material-icons">
                                                                sms
                                                        </i> User One says:
                                                        <small> 9:41 PM on August 24, 2014</small>
                                                        <button mat-button matSuffix class="pull-right">바로가기
                                                                <mat-icon mat-list-icon>arrow_forward</mat-icon>
                                                        </button>
                                                </h3>
                                                <p>Excellent post! Thank You the great article, it was useful!</p>
                                        </div>
                                        <div style="border: 1px solid #dee2e6">
                                                <h3>
                                                        <i class="material-icons">
                                                                sms
                                                        </i> User One says:
                                                        <small> 9:41 PM on August 24, 2014</small>
                                                        <button mat-button matSuffix class="pull-right">바로가기
                                                                <mat-icon mat-list-icon>arrow_forward</mat-icon>
                                                        </button>
                                                </h3>
                                                <p>Excellent post! Thank You the great article, it was useful!</p>
                                        </div>
                                        <div style="border: 1px solid #dee2e6">
                                                <h3>
                                                        <i class="material-icons">
                                                                sms
                                                        </i> User One says:
                                                        <small> 9:41 PM on August 24, 2014</small>
                                                        <button mat-button matSuffix class="pull-right">바로가기
                                                                <mat-icon mat-list-icon>arrow_forward</mat-icon>
                                                        </button>
                                                </h3>
                                                <p>Excellent post! Thank You the great article, it was useful!</p>
                                        </div>
                                        <div style="border: 1px solid #dee2e6">
                                                <h3>
                                                        <i class="material-icons">
                                                                sms
                                                        </i> User One says:
                                                        <small> 9:41 PM on August 24, 2014</small>
                                                        <button mat-button matSuffix class="pull-right">바로가기
                                                                <mat-icon mat-list-icon>arrow_forward</mat-icon>
                                                        </button>
                                                </h3>
                                                <p>Excellent post! Thank You the great article, it was useful!</p>
                                        </div>
                                        
                                </div>
                        </div>
                </mat-tab>
        </mat-tab-group>
        <!-- <div class="container-fluid">
                <h1 class="my-4">내가 쓴 글
                        <small>다시 보기</small>
                </h1>
                <div class="container">
                        <table class="table table-stripted">
                                <thead>
                                        <tr>
                                                <th [class.active]="order === 'tags'" (click)="setOrder('tags')" class="mdl-data-table__cell--non-numeric">
                                                        태그
                                                        <span [hidden]="reverse">▼</span>
                                                        <span [hidden]="!reverse">▲</span>
                                                </th>
                                                <th [class.active]="order === 'title'" (click)="setOrder('title')" class="mdl-data-table__cell--non-numeric">
                                                        제목
                                                        <span [hidden]="reverse">▼</span>
                                                        <span [hidden]="!reverse">▲</span>
                                                </th>
                                                <th [class.active]="order === 'writer'" (click)="setOrder('writer')">
                                                        작성자
                                                        <span [hidden]="reverse">▼</span>
                                                        <span [hidden]="!reverse">▲</span>
                                                </th>
                                                <th [class.active]="order === 'created_at'" (click)="setOrder('created_at')">
                                                        날짜
                                                        <span [hidden]="reverse">▼</span>
                                                        <span [hidden]="!reverse">▲</span>
                                                </th>
                                                <th [class.active]="order === 'hits'" (click)="setOrder('hits')">
                                                        조회수
                                                        <span [hidden]="reverse">▼</span>
                                                        <span [hidden]="!reverse">▲</span>
                                                </th>

                                        </tr>
                                </thead>
                                <tbody *ngFor="let match of matchs | orderBy: order : reverse : 'case-insensitive' | paginate: {itemsPerPage: 10, currentPage: p}; let i = index">
                                        <tr>
                                                <td>{{ match.tags }}</td>
                                                <td>
                                                        <a routerLink='/match/{{match._id}}'>
                                                                <span *ngIf="match.matchstate" class="label label-success">매칭완료</span>
                                                                <span *ngIf="!match.matchstate" class="label label-warning">매칭중</span>{{ match.title }}</a>
                                                </td>
                                                <td>{{ match.writer }}</td>
                                                <td>{{ match.created_at | date:'MM-dd' }}</td>
                                                <td>{{ match.hits }}</td>
                                        </tr>
                                </tbody>
                        </table>



                        <hr>

                        <pagination-controls (pageChange)="p = $event"></pagination-controls>


                </div>
        </div> -->
</div>