<app-loading [condition]="isLoading"></app-loading>
<div *ngIf="!isLoading">
  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase"> 공모전 </h2>
      <h3 class="section-subheading text-muted"> 구해보세요 </h3>
    </div>
  </div>

  <div class="container" style="margin-bottom:50px;">
    <table class="table table-stripted" style="margin-bottom: 50px;">
      <thead>
        <tr>
          <th [class.active]="order === 'tags'" (click)="setOrder('tags')" class="mdl-data-table__cell--non-numeric">
            태그
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order === 'title'" (click)="setOrder('title')" class="mdl-data-table__cell--non-numeric">
            제목
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order === 'writer'" (click)="setOrder('writer')">
            작성자
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order === 'created_at'" (click)="setOrder('created_at')">
            날짜
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order === 'hits'" (click)="setOrder('hits')">
            조회수
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matchs | orderBy: order : reverse : 'case-insensitive' | paginate: {itemsPerPage: 10, currentPage: p}; let i = index">
          <td>{{ match.tags }}</td>
          <td>
            <a routerLink='/match/{{match._id}}'>
              <span *ngIf="match.matchstate" class="label label-success">매칭완료</span>
              <span *ngIf="!match.matchstate" class="label label-warning">매칭중</span>{{ match.title }}</a>
          </td>
          <td>{{ match.writer }}</td>
          <td>{{ match.created_at | date:'MM-dd' }}</td>
          <td>{{ match.hits }}</td>
        </tr>
      </tbody>
    </table>



    <hr>
    <div class="row">
      <div class="col-md-6 set-margin">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

      <div class="col-md-4 set-margin">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder=" 검색" />
          <!-- <button mat-button matSuffix mat-icon-button (click)="searchContests()"> -->
          <button mat-button matSuffix mat-icon-button (click)="searchEnter()">
            <i class="material-icons">search</i>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-2 set-margin">
        <a class="btn btn-default pull-right" routerLink="/addmatch" *ngIf="auth.loggedIn">글쓰기</a>
        <a class="btn btn-default pull-right" routerLink="/login" *ngIf="!auth.loggedIn" placement="top" ngbTooltip="로그인이 필요합니다.">글쓰기</a>
      </div>
    </div>



  </div>

</div>