<div class="container-fluid show-detail">
    <div class="row" style="margin:30px 0px;">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase"> 공모전 </h2>
                </div>
            </div> -->
            <div class="container">
                <hr style="border-top: 1px black solid;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase"> {{ contest.title }} </h2>
                </div>
                <hr style="border-top: 1px black solid;">
                <div class="row">
                    <div class="col-md-8" style="margin: auto;">

        

                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <img *ngIf="contest.url_img != ''" src="../../../{{contest.url_img}}"  alt="" class="img-rounded img-responsive" />
                                    <img *ngIf="contest.url_img == ''" src="https://{{contest.url_img2}}"   alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-6 col-md-7">

                                    <mat-list role="list">
                                        <mat-list-item role="listitem" style="font-size: 12px;">
                                            주최기관 : {{ contest.host }}
                                        </mat-list-item>
                                        <mat-list-item role="listitem" style="font-size: 12px;">
                                            홈페이지 :
                                            <a href="{{ contest.url }}" target="_blank">{{ contest.url }}</a>
                                        </mat-list-item>
                                        <mat-list-item role="listitem" style="font-size: 12px;">
                                            팀 구성원 제한 : ~ {{ contest.person }}명
                                        </mat-list-item>
                                        <mat-list-item role="listitem" style="font-size: 12px;">
                                            1등 혜택 : {{ contest.prize }}
                                        </mat-list-item>
                                        <mat-list-item role="listitem" style="font-size: 12px;">
                                            <i class="material-icons">
                                                date_range
                                            </i>기간 : {{ contest.startline | date:'yy-MM-dd' }} ~ {{ contest.deadline | date:
                                            'yy-MM-dd' }}</mat-list-item>
                                        <mat-list-item role="listitem" style="font-size: 12px;">분야 : {{ contest.tags }}</mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-4 show-detail-col">

                    <div class="show-detail-icon">
                        조회수
                        <i class="material-icons" style="font-size: 18px;">search</i>
                        <span>{{ contest.hits }}</span>
                    </div>


                    <div class="panel panel-default" style="height: 60%;">

                        <h5 mat-subheader>비슷한 공모전 리스트</h5>
                        <mat-list role="list" style="overflow-y: scroll; height: 80%;">

                            <div *ngFor="let contest of contests; let i = index">
                                <mat-list-item role="listitem" class="message" routerLink="/contest/{{contest._id}}" (click)="reLoadPage(contest._id)" *ngIf="i<4"
                                    style="font-size: 6px;">
                                    <i class="material-icons" style="font-size: 15px;">
                                        thumb_up
                                    </i>{{ contest.title }}</mat-list-item>
                            </div>
                        </mat-list>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="text-align :center;">
            <button mat-raised-button class="btn btn-info btn-fill btn-wd" (click)="GoToHomePage(contest.url)">
                홈페이지 이동
            </button>
        </div>

        <hr style="border-top: 1px black solid;">

        <div>

        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>
<hr>
<div class="container col-md-8" style="margin-top:40px; margin-bottom: 30px;">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"> 현재 공모전 매칭글 </h2>
    </div>
    <br>
    <table class="table table-stripted">
        <thead>
            <tr>
                <th [class.active]="order === 'tags'" (click)="setOrder('tags')" class="mdl-data-table__cell--non-numeric">
                    태그
                    <span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span>
                </th>
                <th [class.active]="order === 'title'" (click)="setOrder('title')" class="mdl-data-table__cell--non-numeric">
                    제목
                    <span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span>
                </th>
                <th [class.active]="order === 'writer'" (click)="setOrder('writer')">
                    작성자
                    <span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span>
                </th>
                <th [class.active]="order === 'created_at'" (click)="setOrder('created_at')">
                    날짜
                    <span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span>
                </th>
                <th [class.active]="order === 'hits'" (click)="setOrder('hits')">
                    조회수
                    <span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let match of matchs | orderBy: order : reverse : 'case-insensitive' | paginate: {itemsPerPage: 10, currentPage: p}; let i = index">
                <td>{{ match.tags }}</td>
                <td>
                    <a routerLink='/match/{{match._id}}'>
                        <span *ngIf="match.matchstate" class="label label-success">매칭완료</span>
                        <span *ngIf="!match.matchstate" class="label label-warning">매칭중</span>{{ match.title }}</a>
                </td>
                <td>{{ match.writer }}</td>
                <td>{{ match.created_at | date:'MM-dd' }}</td>
                <td>{{ match.hits }}</td>
            </tr>
        </tbody>
    </table>



    <hr>
    <div>
        <a class="btn btn-default pull-right" routerLink="/addmatch" *ngIf="auth.loggedIn">글쓰기</a>
        <a class="btn btn-default pull-right" routerLink="/login" *ngIf="!auth.loggedIn">글쓰기</a>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>


</div>


</div>
<hr>
